@{
    ViewData["Title"] = "About Me";
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h3>Coming soon...</h3>
</div>