@{
    ViewData["Title"] = "About Me";
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <div class="col-lg-6 col-md-6 paragraph">
        <p>
            I wrote my first "Hello World" console application over 15 years ago, and a few degrees and thousands of lines of code later,
            I work professionally as a Software Engineer. I live in Bellingham, Washington with my Fiancé, three black cats, and a German Shepherd.
            Some of my hobbies include longboarding, snowboarding, hiking, biking, motorcycling, canoeing, swimming, gardening, programming (yes, for leisure too!), writing and drawing.
        </p>
        <p>
            I'm a Blockchain enthusiast, and have been running a "mining rig" out of my office for a few years now. I believe that the technology will eventually be used to overcome
            some of the pitfalls in our legacy banking systems, I want to be HODLing when that time comes.
        </p>
        <p>
            I'm learning about OpenGL and React right now, and I plan to use them to make a suite of educational games aimed at teaching math and programming to children.
            I'm more passionate about the more classical computer science, back-end, algorithmic programming, but I find a lot of enjoyment in being able to develop across the entire stack
        </p>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="green-border">
            <img style="width:100%; height:500px" />
        </div>
    </div>
</div>
