@{
    ViewData["Title"] = "Randomocity Studios";

    List<NewsUpdate> updates = ViewData["Updates"] as List<NewsUpdate>;
}

@section metatags
{
    <meta name="description" content="Randomocity Studios serves as a living portfolio and resume for Wesley Van Komen." />
    <meta name="keywords" content="randomocity studios, randomocity, studios, wesley van komen, wesley, van komen, software engineer, software development, software, resume, portfolio, .net, c#, javascript, programming, coding, hacking" />
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row large-top-margin" >
    <h1>@ViewData["Title"]</h1>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 styled-row small-top-margin" style="padding: 0px;">
    <img src="/images/hacker_corgi_3.jpg" alt="Hacker Corgi" style="width:100%;">
</div>

