@{
    ViewData["Title"] = "Randomocity Studios";
}

@section metatags
{
    <meta name="description" content="Randomocity Studios serves as a living portfolio and resume for Wesley Van Komen." />
    <meta name="keywords" content="randomocity studios, wesley van komen, wesley, van komen, software engineer, software development, resume, portfolio, .net, c#, javascript" />
}

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h2>@ViewData["Title"]</h2>
</div>

<div class="col-sm-12 col-md-12 col-lg-12 styled-row">
    <h3>Check back later for additional content</h3>
    <br />

    <a href="~/images/bannerUnderContruction.jpg" data-fancybox data-caption="Under Construction!">
        <img class="green-border" src="~/images/bannerUnderContruction.jpg" width="100%" />
    </a>

    <br />
    <h4>(Under Construction)</h4>
</div>