@model  RandomocityStudios.Models.Project

@{
    ViewData["Title"] = "Projects";
}
<div class="row">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>Coming Soon!</h3>
        <br />
        <p>I will be porting over previous projects in the near future for displaying here</p>

        @for (int i = 0; i < 3; i++)
        {
            <div class="col-md-4">
                <div class="row">
                    <br /><br />
                    <h4>Project Placeholder</h4>
                    <br /><br />
                </div>
            </div>
        }


    </div>

    </div>
