Randomocitystudios/obj/*
Randomocitystudios/bin/*
Randomocitystudios/Properties/PublishProfiles
Randomocitystudios/wwwroot/css/site.min.css
Randomocitystudios/wwwroot/js/site.min.js
*.psd
*.swp
*.sh
*.out
*.user
.vs/
*.DS_Store
RandomocityStudios/wwwroot/css/comparison.min.css
