Randomocitystudios/obj/*
Randomocitystudios/bin/*
Randomocitystudios/Properties/PublishProfiles

*.min.js
*.min.css
*.psd
*.swp
*.sh
*.out
*.user
.vs/
*.DS_Store
RandomocityStudios/wwwroot/js/particles/particles.min.js
RandomocityStudios/wwwroot/js/particles/particles.min.js
