@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    A gremlin in the system disrupted normal site functionality.
</p>

<p>
    Please have patience while we work to shine light on the problem.
</p>


<p>
    And please remember not to feed your mogwai after midnight.
</p>
