@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error</h1>
<h2 class="text-danger">A gremlin in the system disrupted normal site functionality.</h2>

<p>
    Please have patience while we work to shine light on the problem, and PLEASE remember not to feed your mogwai after midnight.
</p>
